<!DOCTYPE html>
<html class="no-js" lang="#lang">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - nonda mileage</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon.png">
    <link href="./css/foundation.min.css" rel="stylesheet" type="text/css">
    <link href="./css/login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/iziModal.min.css">
</head>

<body>
test${info}
</body>
</html>